<div class="card product-card">
    <div class="img">
        <img [src]="image" alt="">
    </div>

    <div class="save">
        <i class="fa-regular fa-heart"></i>
    </div>

    <div class="text">
        <p class="h3"> {{ name }} </p>
        <p class="price-after mb-0"> {{ price_after }}</p>
        <p class="price-before"> {{ price_before }}</p>
        <p-rating [(ngModel)]="rating" [readonly]="true" [cancel]="false">
            <ng-template pTemplate="onicon">
                <img src="../../assets/images/icons/star-on.svg" width="25px" height="25px" />
            </ng-template>
            <ng-template pTemplate="officon">
                <img src="../../assets/images/icons/star-off.svg" width="25px" height="25px" />
            </ng-template>
        </p-rating>
        <div class="btn-container">
            <button class="view-offers-button">
                Add to Cart
                <i class="fa-solid fa-basket-shopping cart"></i>
            </button>
        </div>
    </div>
</div>