<div class="card product-card">
    <div class="img">
        <img src="../../assets/images/products/p1.png" alt="">
    </div>

    <div class="save">
        <i class="fa-regular fa-heart"></i>
    </div>

    <div class="text">
        <p class="h3"> Garnier Skin Active Micellar Cleansing Water 400 ml </p>
        <p class="price-after mb-0"> 25.94 SAR</p>
        <p class="price-before"> 30.94 SAR</p>
        <p-rating [(ngModel)]="value" />
        <div class="btn-container">
            <button class="view-offers-button">
                Add to Cart
                <i class="fa-solid fa-basket-shopping cart"></i>
            </button>
        </div>
    </div>
</div>