<div class="upload p-5 p-lg-0">
    <div class="container-fluid top-footer">
        <div class="d-flex g-3 align-items-center justify-content-between flex-column flex-lg-row gap-4">

            <div class="col-12 col-lg-4">
                <img src="../../../assets/images/home/upload-bg.svg" alt="" class="w-100">
            </div>

            <div class="col-12 col-lg-8">
                <h2 id="upload-title" class="mb-3 mt-0"> upload your medical <span>prescription</span>
                </h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. <br>Ut enim ad minim</p>

                <div class="btn-container">
                    <button class="view-offers-button">
                        Prescription Request
                        <span class="arrow"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>