<div class="d-flex justify-content-between mt-5 mb-3">
    <h2>Top <span>Offers</span></h2>
    <div class="btn-container">
        <button class="view-offers-button">
            View all offers
            <span class="arrow"></span>
        </button>
    </div>
</div>


<splide [options]="options" id="top-offers-slider">
    @for (item of products; track $index) {
    <splide-slide>
        <app-product-card [name]="item.name" [price_before]="item.price_before" [price_after]="item.price_after"
            [rating]="item.rating" [image]="item.image"></app-product-card>
    </splide-slide>
    }
</splide>